<section>
    <table mat-table [dataSource]="appointments" class="mat-elevation-z8">
        <ng-container matColumnDef="doctor">
            <th mat-header-cell *matHeaderCellDef> Médico </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.doctor.name}} </td>
        </ng-container>

        <ng-container matColumnDef="speciality">
            <th mat-header-cell *matHeaderCellDef> Especialidade </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.speciality.name}} </td>
        </ng-container>

        <ng-container matColumnDef="schedule_day">
            <th mat-header-cell *matHeaderCellDef> Horário </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.schedule_day | date: 'dd/MM/yyyy HH:mm':'UTC'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef> Observação </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.notes}} </td>
        </ng-container>

        <ng-container matColumnDef="status_code">
            <th mat-header-cell *matHeaderCellDef> Situação </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.status_code == 0 ? 'Pendente' :
                appointment.status_code == 1 ? 'Finalizado' : 'Cancelado'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let appointment">
                @if (appointment.status_code == 0) {
                <button matIconButton [hidden]="!checkDate(appointment.schedule_day)" [style]="{'background-color': 'green', 'color': 'white'}"
                    aria-label="Example icon button with a delete icon" (click)="finish(appointment.id)">
                    <mat-icon>check</mat-icon>
                </button>
                <button matIconButton
                    [style]="{'background-color': 'red', 'color': 'white', 'margin-left': '10px', 'margin-right': '10px'}"
                    aria-label="Example icon button with a delete icon" (click)="openConfirmDialog(appointment.id)">
                    <mat-icon>close</mat-icon>
                </button>
                <button matIconButton [style]="{'background-color': 'black', 'color': 'white'}"
                    aria-label="Example icon button with a delete icon" (click)="openUpdateDialog(appointment.id)">
                    <mat-icon>visibility</mat-icon>
                </button>
                }
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns;" [ngStyle]="row.status_code === 2 ? {'background-color': '#fecaca'} : {}"></tr>
    </table>
</section>